body {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav a {
    color: #916385;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

header nav a:hover {
    color: #33161b;
    background-color: #2a2a2a;
}

.boton-gamer, section {
    background-color: #1e1e1e;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.3s ease;
    margin: 20px auto;
    max-width: 80%;
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.4), 0 0 10px 2px rgba(0, 255, 0, 0.4), 0 0 10px 2px rgba(0, 0, 255, 0.4);
    animation: cambiarSombra 5s infinite alternate;
}

.boton-gamer:hover, section:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.smash {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #ff0037;
    font-weight: bold;
    text-shadow: rgb(105, 17, 17) 2px;
}

section {
    width: 80%;
    max-width: 800px;
}

h1 {
    color: #ff17e0;
    margin-top: 0;
    text-align: center;
}

p, ul, li {
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.phronesis {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #e6b800; /* Color amarillo claro */
    font-weight: bold;
    text-shadow: rgb(105, 17, 17) 2px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(105, 17, 17), 0 0 0.2em rgb(105, 17, 17); /* Agrega bordes a la letra */
}

footer {
    background-color: #d39f9f;
    padding: 10px;
    text-align: center;
    clear: both;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(180, 154, 154, 0.3);
}

.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.galeria-imagenes img {
    width: calc(33.33% - 20px);
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.galeria-imagenes img:hover {
    transform: scale(1.05);
}

@keyframes cambiarSombra {
    0% {
        box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.4), 0 0 10px 2px rgba(0, 255, 0, 0.4), 0 0 10px 2px rgba(0, 0, 255, 0.4);
    }
    25% {
        box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.4), 0 0 10px 2px rgba(255, 0, 255, 0.4), 0 0 10px 2px rgba(255, 255, 0, 0.4);
    }
    50% {
        box-shadow: 0 0 10px 2px rgba(255, 165, 0, 0.4), 0 0 10px 2px rgba(0, 255, 127, 0.4), 0 0 10px 2px rgba(123, 104, 238, 0.4);
    }
    75% {
        box-shadow: 0 0 10px 2px rgba(173, 216, 230, 0.4), 0 0 10px 2px rgba(255, 192, 203, 0.4), 0 0 10px 2px rgba(144, 238, 144, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.4), 0 0 10px 2px rgba(0, 255, 0, 0.4), 0 0 10px 2px rgba(0, 0, 255, 0.4);
    }
}

@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav ul li {
        margin: 5px; /* Espacio mínimo entre botones */
    }

    header nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto; /* Ancho automático para adaptarse al contenido */
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .galeria-imagenes img {
        width: calc(100% - 20px);
    }
}